<mat-card class="login-card">
  <mat-card-title>Subscribe to Chat Services using Websocket channel</mat-card-title>
  <button mat-raised-button (click)="subscribe()" color="primary" id="log">Subscribe</button>
</mat-card>
<mat-card>
  <mat-card-title>Conversations</mat-card-title>
  <h3>Enter their User Id in the given format : </h3>
  <sub><i>example: janedoe@somedomain.com ([userId]@[domain])</i></sub>
  <mat-form-field class="login-full-width">
      <input matInput placeholder="Enter their User ID" [(ngModel)]="contactId" [value]="contactId" name="contactId" required>
  </mat-form-field>
  <!-- <br> -->
  <h3>Create Conversation</h3>
  <button mat-raised-button (click)="conversation()" color="primary" id="log">Create</button>
</mat-card>

<mat-card>
  <mat-card-title>Chat History : </mat-card-title>
  <div id="chatContent">
    
  </div>
</mat-card>

<mat-card>
  <mat-card-title>Message to conversation : </mat-card-title>
  <mat-form-field class="login-full-width">
      <input matInput placeholder="Enter your message" [(ngModel)]="chatMessage" [value]="chatMessage" name="chatMessage" required>
  </mat-form-field>
  <!-- <br> -->
  <button mat-raised-button (click)="sendMessage()" color="primary" id="log">Send</button>
</mat-card>

<mat-card class="log-card">
  <mat-card-title>Messages</mat-card-title>
  <mat-card-content>
    <div id="messageLogs">{{ message }}</div>
  </mat-card-content>
</mat-card>