<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Server URL" [(ngModel)]="serverurl" [value]="serverurl" name="serverurl" required>
    </mat-form-field>
    <mat-radio-group (change)="onChangeLoginType($event)" [(ngModel)]="loginType">
      <mat-radio-button style="padding : 8px" value="passwordGrant">Password Grant</mat-radio-button>
      <mat-radio-button style="padding : 8px" value="clientCredentials">Client Credentials</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-content *ngIf="loginType == 'passwordGrant'">
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Client ID" [(ngModel)]="clientid" [value]="clientid" name="clientid" required>
    </mat-form-field>
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Username" [(ngModel)]="user" [value]="user" name="user" required>
    </mat-form-field>
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Password" [(ngModel)]="pass" [value]="pass" type="password" name="pass" required>
    </mat-form-field>
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Contact Number" [(ngModel)]="contact" [value]="contact" type="text" name="contact"
        required>
    </mat-form-field>
  </mat-card-content>
  <mat-card-content *ngIf="loginType == 'clientCredentials'">
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Private project key" [(ngModel)]="privateKey" [value]="privateKey" name="privateKey"
        required>
    </mat-form-field>
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Private project secret" [(ngModel)]="privateSecret" [value]="privateSecret"
        name="privateSecret" required>
    </mat-form-field>
    <mat-form-field class="login-full-width">
      <input matInput placeholder="Contact Number" [(ngModel)]="contact" [value]="contact" type="text" name="contact"
        required>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary" id="log">Login</button>
  </mat-card-actions>
</mat-card>
<mat-card class="log-card">
  <mat-card-title>Messages</mat-card-title>
  <mat-card-content>
    <div id="messages">{{ message }}</div>
  </mat-card-content>
</mat-card>