<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav" (click)="sidenav.toggle()">
    <mat-nav-list>
      <a mat-list-item routerLink="{{nav.link}}" *ngFor="let nav of fillerNav">
        <mat-icon mat-list-icon>{{nav.icon}}</mat-icon>
        <span mat-line>{{nav.name}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="app-container">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="!showMenu">
        <mat-icon>menu</mat-icon>
      </button>

      <span>AT&amp;T Sample Applications</span>
      <button mat-icon-button (click)="Logout()" style="position: absolute; right: 10px">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </mat-toolbar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>