<mat-card class="login-card">
  <mat-card-title>Welcome to AT &amp; T Dashboard, You can select from the given options to try one of our sample apps :
  </mat-card-title>

  <button mat-raised-button (click)="sms()" color="primary" id="log">SMS</button>
  <button mat-raised-button (click)="chat()" color="primary" id="log">CHAT</button>
  <button mat-raised-button (click)="audiovideo()" color="primary" id="log">AUDIO/VIDEO</button>
  <button mat-raised-button (click)="presence()" color="primary" id="log">PRESENCE</button>
  <button mat-raised-button (click)="addressDirectory()" color="primary" id="log">Directory & Address Book</button>
</mat-card>